<template>
  <v-app>
    <v-app-bar app color="primary" dark> </v-app-bar>

    <v-content>
      <search-bar />
    </v-content>
  </v-app>
</template>

<script>
import SearchBar from './components/SearchBar';


export default {
  name: 'App',

  components: {
    SearchBar,
  }, 
  data: () => ({
    //
  })
};
</script>
