<template>
  <v-container>
    <v-row>
      <v-autocomplete
        v-model="select"
        :loading="loading"
        :items="productsName"
        :search-input.sync="search"
        class="col-9"
        flat
        hide-no-data
        hide-details
        label="Co byste potrebovali koupit?"
        solo-inverted
      ></v-autocomplete>
      <v-btn class="button-search col-2">Hledat</v-btn>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios';
export default {
  name: 'SearchBar',

  data: () => ({
    search: null,
    select: null,
    loading: false,
    productsName: [],
  }),
  watch: {
    search(val) {
      if (val && val.trim() == '') this.productsName = [];
      else val && val !== this.select && this.getproducts(val);
    },
  },
  methods: {
    async getproducts(searchTerm) {
      this.loading = true;

      if (searchTerm.trim() != '') {
        await axios
          .get('http://89.221.217.65:8080/api/product/' + searchTerm, {
            headers: { 'Access-Control-Allow-Origin': '*' },
          })
          .then((resp) => {
            this.productsName = resp.data.map((e) => {
              return e.name || '';
            });

            this.loading = false;
          });
      } else {
        this.productsName = [];

        this.loading = false;
      }
    },
  },
};
</script>
<style scoped>
.button-search {
  margin-left: 16px;
  margin-top: 8px;
}
</style>
